<div class="card">
    <div class="title">Wish Events</div>
    <div class="card__text">
        <p *ngIf="wishEvents?.length == 0">None</p>
        <ul class="wish-events">
            <li class="wish-events__item" *ngFor="let wishEvent of wishEvents">
                <img src="{{wishEvent.eventPhotos[0]}}" />
                <p class="wish-events__title">
                    {{wishEvent.name}}
                </p>
                {{wishEvent.dateTime | date}}
                <br />
                <button (click)="remove(wishEvent.id)" class="button button--small">Remove</button>
            </li>
        </ul>
    </div>
</div>
