@import '../../../styles/variables.scss';

.profile {
    padding-top: 20px;

    &__title {
        margin-bottom: 0;
    }

    &__grid {
        column-count: 3;
    }

    &__orders {
        margin-top: 10px;

    }

    &__tickets {
        margin-top: 8px;
    }
}

