<div class="row profile">
    <div class="col-lg-3 col-md-12">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="title">User | {{userPage?.user.username}}</div>
                    <div class="card__text profile__about">
                        {{userPage?.user.email}}
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-4">
                <wish-events [wishEvents]="userPage?.wishEvents" (onWishRemoved)="onWishRemoved($event)"></wish-events>
            </div>
            
        </div>
        
    </div>
    <div class="col-lg-9 col-md-12">
        <orders [orders]="userPage?.orders" (onPaid)="onPaid($event)" (onCancel)="onCancel($event)"></orders>
    </div>
</div>
