.title {
    font-family: $font-title-family;
    font-size: $font-title-size;
    font-weight: $font-title-weight;
    color: black;
}

.error {
    color: darkred;
}

.success {
    color: green;
}
