$body-background-color: rgb(245,245,245);

$font-title-family: 'Unna', serif;
$font-title-size: 34px;
$font-title-weight: 600;

$font-text-family: 'Poppins', sans-serif;
$font-text-size: 14px;
$font-text-weight: 400;

$color-default: rgb(120,120,120);
$color-active: rgb(255, 211, 62);
